In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
word = ["candy","went","going"]

In [3]:
pos = ["noun","verb","verb"]

In [4]:
tP = ["candies", "past","present"]

In [5]:
df=pd.DataFrame({"Word":word, "Parts of Speech":pos, "Tense":tP})

In [6]:
df

    Word Parts of Speech    Tense
0  candy            noun  candies
1   went            verb     past
2  going            verb  present

In [7]:
df.loc[0,"Word"] = "오리"

In [8]:
df

    Word Parts of Speech    Tense
0     오리            noun  candies
1   went            verb     past
2  going            verb  present

In [9]:
df["English"]="duck","potato","candy"

In [10]:
df= df[list(("Word","English","Parts of Speech","Tense"))]

In [11]:
df

    Word English Parts of Speech    Tense
0     오리    duck            noun  candies
1   went  potato            verb     past
2  going   candy            verb  present

In [12]:
df["Tense"]=="candies"

0     True
1    False
2    False
Name: Tense, dtype: bool

In [13]:
df.loc[0,"Tense"] = "N/A"

In [14]:
df

    Word English Parts of Speech    Tense
0     오리    duck            noun      N/A
1   went  potato            verb     past
2  going   candy            verb  present

In [15]:
df.loc[1,"Word"] = "구두"

In [18]:
df.loc[1,"English"] = "shoe"

In [19]:
df

    Word English Parts of Speech    Tense
0     오리    duck            noun      N/A
1     구두    shoe            verb     past
2  going   candy            verb  present

In [26]:
df.loc[1, "Parts of Speech"]="noun"

In [27]:
df.loc[1,"Tense"] = "N/A"

In [28]:
df

    Word English Parts of Speech    Tense
0     오리    duck            noun      N/A
1     구두    shoe            noun      N/A
2  going   candy            verb  present

In [30]:
df.loc[2,"Word"] = "사슴"

In [32]:
df.loc[2,"English"] = "deer"